body{
    background-color: black;
    color: rgb(221, 0, 173);
    font-family: "futura";
}
ul{
    list-style: none;
}
li{
    margin: 1rem;
}
input[type=text] {
    background-color: rgb(180, 0, 141);
    border: none;
    color:white
}
md-input-container .md-input {
    color: rgba(255,255,255,0.87);
}